* {
  box-sizing: border-box;
}

/* CSS FOR CONTAINERS */

#main-single-pokemon-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: radial-gradient(#6a7ed7, #717886);
  min-height: 100vh;
}

#home-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 88vw;
  height: 95vh;
  border: 0.15rem solid white;
  padding: 10px;
  border-radius: 12px;
  max-width: 400px;
}

.info-divs {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 3px;
  padding-right: 7px;
  padding-left: 7px;
}

#left-top-div {
  height: 57%;
  width: 95%;
}

#right-bottom-div {
  height: 43%;
  width: 95%;
  background-color: #6076a7;
}

/* CONTENT INSIDE TOP/LEFT DIV */
/* Content Div Containers */
#buttons-div {
  height: 22%;
  display: flex;
  flex-direction: row;
  align-items: center;
}

#pokemon-img-div {
  height: 56%;
  border-radius: 50%;
  border: 1px solid rgb(144, 144, 144);
  display: flex;
  justify-content: center;
  align-items: center;
}

#pokemon-name-div {
  height: 24%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Content */

#prev-evo {
  border-radius: 12px;
  border: 0px;
  height: 25px;
  width: 100px;
}

#next-evo {
  border-radius: 12px;
  border: 0px;
  height: 25px;
  width: 100px;
}

#pokemon-img {
  height: 100%;
  width: 100%;
}

#SP-pokemon-name {
  font-size: 50px;
  font-weight: 300;
  margin: 0;
}

.poke-types-weaks {
  text-align: center;
  font-size: 18px;
}

#poke-info-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 20px;
}
#pokedex-button {
  border-radius: 12px;
  border: 0;
  height: 22px;
  width: 150px;
}
